/* globals.css */
body {
  margin: 0;
  font-family: sans-serif;
  background: #f3f4f6;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
}
